.tudoperfil{
    display:flex;
}
.perfil{
    padding: 2vw 1vw;
    width: 30%;
    margin: 10% 0% auto 5%;
    background: #FFFFFF;
    box-shadow: 0px 20px 37px 14px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.anuncioslista{
    width: 50%;
    margin: 10% auto auto auto;
}

.anuncio1{
    padding: 3vw;
    width: 90%;
    background: #FFFFFF;
    box-shadow: 0px 20px 37px 14px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    min-height: 250px;
}

.imgperfil{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 10px;
}

.perfilfotoinfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.infoperfil{
    margin:0px;
}

.infototalperfil{
    margin: 10px;
}

.smallbutton {
    cursor:pointer;
    background-color: #BC6C25;
    border-radius:100%;
    padding:10px;
    height: 45px;
    width: 45px;
    text-align: center;
    margin-left: 15px;
}
.smallbutton a{
    color: #fff;
}
.smallbutton a:hover{
    color: #FEEEE0;
}

.buttonsperfil{
    margin: 15px 0px;
    display: flex;
    justify-content: flex-end;
}

.mytabs {
    display: flex;
    flex-wrap: wrap;
}
.mytabs label {
    padding: 20px 45px;
    background: #203310;
    color: #fff;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    box-shadow: -6px -7px 15px 0px rgb(82 79 79 / 25%);
}

.mytabs .tab {
  width: 100%;
  padding: 5%;
  background: #fff;
  order: 1;
  display: none;
  border-radius: 0px 10px 10px 10px;
  background: #FFFFFF;
  box-shadow: 0px 20px 37px 14px rgba(82, 79, 79, 0.25);
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
    
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
    color: #000;
    position: relative;

}
.mytabs input[type="radio"] {
    display: none;
    
}
